<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:icon="@mipmap/ic_launcher_money_bag"
        android:label="@string/app_name"
        android:theme="@style/MyTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".login.LoginApplicationActivity"
            android:screenOrientation="fullSensor"
            android:theme="@style/LoginActivityTheme"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".menu.MenuActivity"
            android:label="@string/title_activity_menu"
            android:screenOrientation="fullSensor"
            android:theme="@style/MenuActivityTheme" />
        <activity
            android:name=".menu.extract.ExtractActivity"
            android:label="Extrato"
            android:parentActivityName=".menu.MenuActivity"
            android:screenOrientation="fullSensor"
            android:theme="@style/MenuActivityTheme" />
        <activity
            android:name=".menu.transference.TransferenceActivity"
            android:label="Transferência"
            android:parentActivityName=".menu.MenuActivity"
            android:screenOrientation="fullSensor"
            android:theme="@style/MenuActivityTheme" />
        <activity
            android:name=".splashScreeen.SplashScreen"
            android:exported="true"
            android:screenOrientation="fullSensor">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".menu.SettingsActivity"
            android:label="Configurações"
            android:parentActivityName=".menu.MenuActivity"
            android:theme="@style/MenuActivityTheme" />
        <activity
            android:name=".jetpack.login.LoginActivity"
            android:label="Login" />
    </application>

</manifest>