<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="br.com.contacorrente">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_money_bag"
        android:supportsRtl="true"
        android:theme="@style/NoActionBar"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning,UnusedAttribute">
        <activity
            android:name=".login.LoginApplicationActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".menu.MenuActivity"
            android:label="@string/title_activity_menu"
            android:screenOrientation="portrait" />
        <activity
            android:name=".menu.extract.ExtractActivity"
            android:label="Extrato"
            android:parentActivityName=".menu.MenuActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".menu.transference.TransferenceActivity"
            android:label="Transferência"
            android:parentActivityName=".menu.MenuActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".splashScreeen.SplashScreen"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".menu.SettingsActivity"
            android:label="Configurações"
            android:parentActivityName=".menu.MenuActivity" />
    </application>

</manifest>